<p>You aren't a member of any organizations. Join an existing one or create a new one.</p>

<h2>organizations</h2>
<ul>
    <% for organization in Organization.order(:name).all %>
        <li>
            <%= organization.name %>
            <%= link_to "Edit", edit_organization_path(:id => organization.id) %>
            <%= link_to "Join", join_organization_path(:id => organization.id), :method => :put %>
        </li>
    <% end %>
</ul>


<h2>Create organization</h2>
<%= form_with model: @organization, local: true do |f| %>
    <% if @organization.errors.any? %>
        <div class="error_messages">
            <h3><font color="red">Form is invalid</font></h3>
            <ul>
                <% for message in @organization.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :"Name:" %>
        <%= f.text_field :name %><br />
        <%= f.label :"Hourly rate: $" %>
        <%= f.number_field :hourly_rate, step: :any%> per hour<br />
    </p>
    <p class="button"><%= f.submit "Create and Join" %></p>
<%end%>
